{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}Titre de la page{% endblock %}</title>
</head>

<body>
    {% comment %} <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/statistics/">Statistiques</a></li>
        </ul>
        {% endblock %}
    </div> {% endcomment %}

    <header>
        {% block header %}
        <p>-------------------Header du gabarit ----------------------------------------------------------</p>
        <img src="{% static 'polls/images/bebe.png' %}" alt="Logo Polls" width="100">
        <p>------------------Fin header du gabarit ----------------------------------------------------------</p>
        {% endblock %}
    </header>

    <main>
        {% block main %}
        {% endblock %}
    </main>

</body>
</html>